@use 'fonts';

$primary-color:#3E7E55;
$secondary-color:#E4E6D9;
$third-color:#C0CFB2;
$body-text-color:#000;
$heading-font-family:"Libre Caslon Text", serif;
$body-font-family:"Roboto", sans-serif;
$base-font-size:18px;
$base-font-weight:400;