<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Chanceux Cosmetics</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@300;400;500&family=Parisienne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2436fc0b94.js" crossorigin="anonymous"></script>
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script type="module" src="js/main.js"></script>
    <script defer src="js/home.js"></script>
</head>
<body>

    <section class="banner col-span-full m-col-span-full l-col-span-full">
    <div id="banner" class="col-span-full m-col-span-full l-col-span-full box-center">
        <h4>Free delivery on all orders over $40</h4>
        <h4>Free delivery on all orders over $40</h4>
        <h4>Free delivery on all orders over $40</h4>
        <h4>Free delivery on all orders over $40</h4>
    </div>
    </section>

    <header class="grid-con">
        
       
        <nav id="hamburger-menu" class="grid-con sticky-header">
            <div class="col-start-4 col-end-5 m-col-start-12 m-col-end-13 l-col-start-12 l-col-end-13 xl-col-start-12 xl-col-end-13 box-right">
                <i id="hamburger-close" class="fa-solid fa-x"></i>
            </div>

            <div class="col-span-4 m-col-start-5 m-col-end-9 l-col-start-5 l-col-end-12 xl-col-start-5 xl-col-end-9 box-center">
                <ul>
                    <li>shop all</li>
                    <li>brands</li>
                    <li>gifts</li>
                    <li>journal</li>
                    <li>about</li>
                </ul>
                <div class="side-socials">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-github"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-pinterest"></i></a></li>
                </ul>
                </div>
                <a href="index.html"><img class="s-logo" src="./images/logo.png" alt="logo"></a>
            </div>
        </nav> 

        <div class="m-col-start-1 m-col-end-4 l-col-start-1 l-col-end-5" id="search-container">
            <form class="grid-con">
                <input class="search" type="text" placeholder=" Search..." name="q">
                <button><i class="fas fa-search"></i></button>
            </form>      
        </div>

        <div class="col-start-1 col-end-4 m-col-start-6 m-col-end-9 l-col-start-6 l-col-end-9 xl-col-start-6 xl-col-end-9">
            <h3 class="hidden">Logo</h3>
            <a href="index.html"><img class="logo" src="./images/logo.png" alt="logo"></a>
        </div>

        <nav class="mobile col-start-4 box-ham">
            <h3 class="hidden">Mobile Nav</h3>
            <i id="hamburger-open" class="fa-solid fa-bars"></i>
        </nav>
        <i class="fa-regular fa-user m-col-start-9 m-col-end-11 "> account</i>
        <i class="fa-solid m-col-start-11 m-col-end-13 fa-basket-shopping"> basket</i>  
    </header>

    <hr class="col-span-full m-col-start-2 m-col-end-12 l-col-start-2 l-col-end-12 xl-col-start-2 xl-col-end-12 section-divider">
    
    
    <div class="sec m-col-start-1 m-col-end-12 l-col-start-1 l-col-end-12 xl-col-start-5 xl-col-end-9 box-center">
        <ul>
            <li id="shop">shop all</li>
            <li id="brand">brands</li>
            <li>gifts</li>
            <li>journal</li>
            <li id="scroll">about</li>
        </ul>
    </div>
 

    <section class="grid-con intro">
        <p class="col-span-full l-col-start-4 l-col-end-10 wel box-center">WELCOME TO CHANCEUX COSMETICS</p>
        <h3 class="col-span-full l-col-start-3 l-col-end-11 heading box-center">consciously curated, beautifully better</h3>
    </section>

    <section class="grid-con box-center spacer ">
        <h3 class="col-span-full m-col-start-4 m-col-end-10 l-col-start-4 l-col-end-10">feel good and do good</h3>
        <p class="col-span-full m-col-start-4 m-col-end-10 l-col-start-4 l-col-end-10">We know you want the beuty brands you buy to be downright lovely to use and leave you feeling good about your choice.
            At Chanceux we make that easy for you because we've sniffed out the most exciting consious products and brought them all together to create a one-stop-shop for feel good, do-good beauty.
        </p>
        
    </section>

    <section class="grid-con box spacer">
    <div class="col-span-full m-col-start-2 m-col-end-6 l-col-start-2 l-col-end-6 box-left hero-text">
        <p class="text">NEW EDIT</p>
        <h3 class="text">plant powered</h3>
        <p class="text ">Discover our favourite vegan products that are packed full of natural botanicals and leave your consciene squeaky-clean.
        </p>
        <button class="button-style">EXPLORE</button>
        
    </div>
    <div class="col-span-full m-col-start-7 m-col-end-12 l-col-start-7 l-col-end-12 hero">
        <img src="images/tree.jpg" alt="hero image">
    </div>
    </section>

    <section class="grid-con" id="app">
        <h3 class="col-span-2 m-col-start-2 m-col-end-5 l-col-start-2 l-col-end-6 spacer">latest makeups</h3>

        <p class="col-span-full m-col-start-7 m-col-end-12 l-col-start-8 l-col-end-13 spacer view">Double click the text on the image</p>

        <div class="col-start-2 col-end-4 m-col-start-2 m-col-end-12 l-col-start-2 l-col-end-12 card-container">

            <div v-for="makeup in lipsData" class="con box card" @click="showMakeupContent(makeup)">
                <img :src="'images/' + makeup.product_image" alt="Product Image">
                <div class="content">
                    <h5><a href="#makeup">{{makeup.name}}</a></h5>

                </div>
            </div>

            <div v-for="makeupProduct in makeupData" class="con box card"  @click="showMakeupContent(makeupProduct)">
                <img :src=" makeupProduct.image_link" alt="Product Image">
                <div class="content">
                    <h5><a href="#makeupProduct">{{makeupProduct.name}}</a></h5>

                </div>
            </div>
           

        </div>
        <div v-if="selectedMakeup" :id="'makeup_' + selectedMakeup.id" class="col-span-full grid-con spacer">
            <div class="col-span-full m-col-start-2 m-col-end-6 l-col-start-2 l-col-end-6 hero">
                <img :src="'images/' + selectedMakeup.product_image" alt="Product hero image">
            </div>
        
            <div class="col-span-full m-col-start-6 m-col-end-12 l-col-start-6 l-col-end-12 box-right hero-text mob">
                <p class="text">BRAND OF THE YEAR</p>
                <h3 class="text ">{{ selectedMakeup.brand }}</h3>
                <p class="text ">{{ selectedMakeup.description }}
                </p>
                <p class="text">BENEFITS:</p>
                    <p v-for="(benefit, index) in selectedMakeup.benefits" :key="index">{{ benefit.benefits.benefit_list }}</p>
                 <p class="txt-spacer">
                <a :href="selectedMakeup.product_link" class="button-style txt-spacer" target="_blank">BROWSE</a></p>  
            </div>
            
        </div>  
/////////////////
        <div v-if="selectedMake" :id="'makeups_' + selectedMake.id" class="col-span-full grid-con spacer">
            <div class="col-span-full m-col-start-2 m-col-end-6 l-col-start-2 l-col-end-6 hero">
                <img :src="selectedMake.image_link" alt="Product hero image">
            </div>
        
            <div class="col-span-full m-col-start-6 m-col-end-12 l-col-start-6 l-col-end-12 box-right hero-text mob">
                <p class="text">BRAND OF THE YEAR</p>
                <h3 class="text ">{{ selectedMake.brand }}</h3>
                <p class="text ">{{ selectedMake.description }}</p>
                <!-- <p class="text">BENEFITS:</p>
                    <p v-for="(benefit, index) in selectedMakeup.benefits" :key="index">{{ benefit.benefits.benefit_list }}</p>
                 <p class="txt-spacer">
                <a :href="selectedMakeup.product_link" class="button-style txt-spacer" target="_blank">BROWSE</a></p>   -->
            </div>
            
        </div>       

        <p class="check col-span-full m-col-start-8 m-col-end-12 l-col-start-9 l-col-end-12" id="scrollToMakeup">*Check out our other products</p>
        
        <h3 class="col-span-2 m-col-start-2 m-col-end-5 l-col-start-2 l-col-end-6 spacers">popular collections</h3>

            <div  class="col-span-full m-col-start-2 m-col-end-12 l-col-start-2 l-col-end-12 wrapper spacer">
                <div  v-for="makeupProduct in makeupData" :key="makeupProduct.id" class=" box shape ">
                    <img :src="makeupProduct.image_link" alt="Product">
                    <div class="info">
                        <h3 class="skincare">{{makeupProduct.name}}</h3>
                        <p>${{makeupProduct.price}}</p>
                    </div>
                </div>             
    
            </div>
         

        <div v-if="error" class="error">{{ error }}</div>
    </section>


 

    <section id="abt" class="grid-con spacer box">
    <div class="col-span-full m-col-start-2 m-col-end-6 l-col-start-2 l-col-end-6 box-left hero-text">
        
        <h3 class="text ">beautifully better</h3>
        <p class="text ">It's perfectly possible to enjoy beauty products that tread-lightly on our lovely planet.
            Our mission is to help you make a poositive switch to products that are doing it better.
        </p>
        <button class="button-style">ABOUT US</button>
        
    </div>
    <div class="col-span-full m-col-start-7 m-col-end-12 l-col-start-7 l-col-end-12 hero">
        <img class="image" src="images/products.jpg" alt="hero image">
    </div>
    </section>

    <section class="grid-con box-center" id="contact">
        <h3 class="col-span-full m-col-start-3 m-col-end-10 l-col-start-4 l-col-end-10 ">CHANCEUX & Co.</h3>
        <p class="col-span-full m-col-start-4 m-col-end-9 l-col-start-4 l-col-end-10 signup">Sign up for news, special offers, product trials and other inside stories from our world.
            Oh, and not forgetting 15$ off yout first order too!
        </p>
            
                <form class="col-span-full m-col-start-4 m-col-end-8 l-col-start-4 l-col-end-8 txt-spacer">
                    
                    <input type="text" class="input-field" placeholder="Enter your email">
                </form>
                <button class="button-style col-start-2 col-end-3 m-col-start-6 m-col-end-12 l-col-start-6 l-col-end-12">SIGN UP</button>
                
       

        
    </section>
    
    <footer class="grid-con">
        <hr class="col-span-full m-col-start-2 m-col-end-12 l-col-start-2 l-col-end-12 xl-col-start-2 xl-col-end-12 section-divider">
    
        <div class="col-start-2 col-end-4 m-col-start-2 m-col-end-5 l-col-start-5 l-col-end-10 xl-col-start-2 xl-col-end-5">
            <h3 class="hidden">Logo</h3>
            <a href="index.html"><img class="logo" src="./images/logo.png" alt="logo"></a>
        </div>
        <p class="col-span-full m-col-start-5 m-col-end-10 l-col-start-5 l-col-end-10 txt-spacer">&copy; 2024 Chanceux Cosmetics. All rights reserved.</p>
 
    
    </footer>

    <!-- <div id="app">
        <input type="text" v-model="searchQuery" placeholder="Enter product type">
        <button @click="searchProducts">Search</button>
        <div v-if="makeupData.length > 0">
            <h2>Results:</h2>
            <ul>
                <li v-for="product in makeupData" :key="product.id">
                    {{ product.name }} - {{ product.brand }}
                </li>
            </ul>
        </div>
        <div v-else>
            <p>No products found.</p>
        </div>
    </div> -->
    
</body>

</html>