@use '../abstracts/variables' as a;

.input-field{
    width: 250px;
    height: 50px;
    margin-top: 0;
    margin-left: 90px;
    border: 2px solid a.$primary-color;
    outline: none;
}
.search{
    
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-left: 90px;
        border: 2px solid a.$primary-color;
        outline: none;
        display: none;
    
}
.button-style {
    border: 2px solid a.$primary-color;
    border-radius: 5px;
    text-align: center;
    padding: 16px 32px;
    padding-top: 10px;
    font-size: a.$base-font-size;
    width: 165px;
    font-family: a.$body-font-family;
    margin-top: 15px;
    background-color: a.$primary-color;
    color: white;
    text-decoration: none;


    &:hover {
    border-color: a.$primary-color;
    background-color: a.$secondary-color;
    color: a.$primary-color;
    cursor: pointer;

    }
}

form button { display: none;}


.fa-search{
    font-size: 18px;
    color:a.$primary-color;
    display: none;  
}

#contact{
    background-color: a.$body-text-color;
    color: white;
} 
.signup{
    color: white;
    
}
@media screen and (min-width: 768px) {
    .input-field{
        width: 350px;
        height: 50px;
        margin-top: 0;
        margin-left: 90px;
        border: 2px solid a.$primary-color;
        outline: none;
    }
    .search{
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-left: 90px;
        border: 2px solid a.$primary-color;
        outline: none;
        display: block;
    
}
#search-container button {
    margin-top: 14px;
    margin-left: 272px;
    border: none;
    background-color: #e4e6d9;
    cursor: pointer;
}
form button { display: block;}
.fa-search{
    font-size: 18px;
    color:a.$primary-color;
    display: block;   
}

}
@media screen and (min-width: 1200px) {
    .input-field{
        width: 350px;
        height: 50px;
        margin-top: 0;
        margin-left: 90px;
        border: 2px solid a.$primary-color;
        outline: none;
    }
    .search{
    
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-left: 90px;
        border: 2px solid a.$primary-color;
        outline: none;
        display: block;
    
}
.fa-search{
    font-size: 18px;
    color:a.$primary-color;
    display: block;   
}
}